body{
    margin: 0%;
    padding: 0%; 
}
#div1,#div2,#div3,#footer {
    height: 100px;
    width: 30%;
    border: 1px solid #000000;
    display: inline-block;
    margin-right: 1%;
    p{
        text-align: center;
    }
}
#div1{
    background-color: green;
}
#div2{
    background-color: orange;
}
#div3{
    background-color: blue;
}
#footer{
    height: 200px;
    width: 100%;
    margin-top: 2%;
    background-color: gray;
}
@media screen and (min-width:200px) and (max-width:780px) {
    #div1,#div2,#div3{
        width: 100%;
    }
    #footer{
        display: none;
    }
}